@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* ✅ 保留字体大小控制用的 data-attribute */
html[data-font-size='small'] {
  font-size: 14px;
}
html[data-font-size='medium'] {
  font-size: 16px;
}
html[data-font-size='large'] {
  font-size: 18px;
}